{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product_Type list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_Type in product_Types %}
            <tr>
                <td><a href="{{ path('bunker_types_show', { 'id': product_Type.id }) }}">{{ product_Type.id }}</a></td>
                <td>{{ product_Type.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bunker_types_show', { 'id': product_Type.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bunker_types_edit', { 'id': product_Type.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_types_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
