{% extends 'base.html.twig' %}

{% block body %}
    <h1>OrderAddress list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>Addr_complement</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderAddress in orderAddresses %}
            <tr>
                <td><a href="{{ path('bunker_orderaddress_show', { 'id': orderAddress.id }) }}">{{ orderAddress.id }}</a></td>
                <td>{{ orderAddress.street }}</td>
                <td>{{ orderAddress.city }}</td>
                <td>{{ orderAddress.addrcomplement }}</td>
                <td>{{ orderAddress.zipcode }}</td>
                <td>{{ orderAddress.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bunker_orderaddress_show', { 'id': orderAddress.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bunker_orderaddress_edit', { 'id': orderAddress.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_orderaddress_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
