{% extends 'base.html.twig' %}

{% block body %}
    <h1>OrderAddress</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orderAddress.id }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ orderAddress.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ orderAddress.city }}</td>
            </tr>
            <tr>
                <th>Addr_complement</th>
                <td>{{ orderAddress.addrcomplement }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ orderAddress.zipcode }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ orderAddress.country }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_orderaddress_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bunker_orderaddress_edit', { 'id': orderAddress.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
