{% extends 'base.html.twig' %}

{% block body %}
    <h1>BillingAddress list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>Addr_complement</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billingAddress in billingAddresses %}
            <tr>
                <td><a href="{{ path('bunker_billingaddress_show', { 'id': billingAddress.id }) }}">{{ billingAddress.id }}</a></td>
                <td>{{ billingAddress.street }}</td>
                <td>{{ billingAddress.city }}</td>
                <td>{{ billingAddress.addrcomplement }}</td>
                <td>{{ billingAddress.zipcode }}</td>
                <td>{{ billingAddress.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bunker_billingaddress_show', { 'id': billingAddress.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bunker_billingaddress_edit', { 'id': billingAddress.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_billingaddress_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
