{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Order_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('bunker_orders_show', { 'id': order.id }) }}">{{ order.id }}</a></td>
                <td>{{ order.orderdate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bunker_orders_show', { 'id': order.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bunker_orders_edit', { 'id': order.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_orders_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
