{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Order_date</th>
                <td>{{ order.orderdate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bunker_orders_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bunker_orders_edit', { 'id': order.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
